<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{name | upper}} Dashbaord</title>
</head>
<body>
    <h1>Welcome {{name| upper}}</h1>
    <p>Role: {{role}}</p>
    <p>Courses</p>
    {% for course in courses %}
        <p>{{course}}</p>
    {% endfor %}
    <p>Student Pass Rate</p>
    {% for rate in success_rate %}
        {% if rate >= 0.5 %}
            <p>Well done</p>
        {% else: %}
            <p>Ooops</p>
        {% endif %}
    {% endfor %}
</body>
</html>